/*@font-face{
    
    font-family: myFont;
    src: url(dpcomic.ttf);
    
}*/


#poang{
    
    position: absolute;
    font-family: Krungthep;
    top: 50px;
    left: 644px;
    font-size: 40px;
    
}

#renaBarnAntal{
    
    position: absolute;
    font-family: Krungthep;
    top: 455px;
    left: 830px;
    font-size: 100px;
    
}

#tid {
    
    position: absolute;
    font-family: Krungthep;
    top: 100px;
    left: 644px;
    font-size: 50px;
    
}

#startKnapp{
    
    position: absolute;
    font-family: Krungthep;
    top: 448px;
    left: 644px;
    font-size: 70px;
    color: black;
    
}

#startKnapp:hover{
    
    color: Yellow;
    
}

#nastaRunda{
    
    position: absolute;
    font-family: Krungthep;
    font-size: 70px;
    top: 710px;
    left: 550px;
    color: black;
    
}

#nastaRunda:hover{
    
    color: yellow;
    
}
body{
    
    cursor: url('123321%20(kopia).png') 23 16, auto;
    
}
